@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #CECECE;
  min-width: 250px;
}

#footer_text_line {
  width: 100%;
  text-align: center;
  font-size: 3vw;
}

#footer_logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

#footer_logo_resizer {
  margin-right: 5%;
  width: 25%;
}

#footer_logo_wrapper img {
  width: 100%;
}

#footer_nav_wrapper li {
  margin-right: 1.5%;
  font-size: 3vw;
}

#footer_wrapper {
  padding-top: 2%;
  background-color: #171717;
  color: #FFFFFF;
  padding-bottom: 2%;
}

footer {
  padding-top: 10%;
  width: 100%;
  background-color: #FFFFFF;
}

#horizontal_info_box {
  background-color: #FFFFFF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 7%;
  min-height: 300px;
}

.vertical_info_box {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 30%;
  padding: 1% 5% 1% 5%;
  border: 1.5px solid #383838;
  min-width: 200px;
  min-height: 300px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-shadow: 5px 5px #383838;
          box-shadow: 5px 5px #383838;
  min-width: 205px;
}

.info_box_heading_1 {
  margin-top: 8%;
  color: #736B87;
  font-size: 1.5em;
}

.info_box_heading_2 {
  color: #383838;
  font-size: 1em;
  margin-bottom: 1.5%;
  margin-bottom: 8%;
}

.vertical_info_box > ul > li {
  color: #383838;
  margin-bottom: 1.7%;
}

.info_box_heading_3 {
  margin-top: 8%;
  color: #383838;
  font-weight: bold;
}

.info_box_text {
  color: #383838;
  margin-bottom: 8%;
}

#horizontal_info_box {
  background-color: #FFFFFF;
}

#big_info_box {
  padding-top: 7%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #383838;
  background-color: #CECECE;
}

#info_heading {
  color: #3A3A3A;
  font-size: 2em;
  width: 75%;
  left: 0;
  right: 0;
  margin: auto;
}

#info_text {
  color: #383838;
  font-size: 1.3em;
  width: 75%;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 2.5%;
}

#output_wrapper {
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5%;
}

#output_line {
  font-family: 'Roboto Condensed', sans-serif;
  color: #339235;
  font-size: 2em;
  visibility: hidden;
}

#button_container {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#press_calculate {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  background-color: #339235;
  color: #FFFFFF;
  padding: 0.05em 1.2em;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

input[type=text], select {
  padding: 10px;
  border: 1px solid #4C4C4C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#horizontal_input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 26%;
}

.vertical_input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 30%;
  height: 26%;
  min-height: 126px;
  min-width: 205px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  right: 0;
  margin: auto;
}

.input_boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #2C2C2C;
}

.input_boxes p {
  margin-left: 1.5%;
}

#input_box_heading {
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #2C2C2C;
  font-size: 4.5vw;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 6%;
}

#transparent_box {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4C4C4C;
  width: 87.5%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1.5%;
  padding-bottom: 6%;
  margin-bottom: -5%;
  min-width: 205px;
}

.background_wrapper {
  position: relative;
}

#main_img {
  position: absolute;
  top: 20%;
  z-index: -1;
  width: 100%;
}

#heading {
  font-size: 5vw;
  margin-top: 3vw;
  margin-left: 4.5%;
  color: #FFFFFF;
}

#top {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: #8E1616;
  height: 3.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top ul, #top li, a, #footer_nav_wrapper ul, #footer_nav_wrapper li, #footer_nav_wrapper a {
  list-style: none;
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#top ul, #footer_nav_wrapper ul {
  margin-left: 3%;
}

#top li {
  margin-right: 1.5%;
  font-size: 3.5vw;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.8% 3% 1.8% 4%;
}

.header_logo_right {
  width: 59%;
}

.header_logo_right img {
  width: 100%;
}

.header_logo_left {
  width: 25%;
}

.header_logo_left img {
  width: 100%;
}

@media screen and (max-width: 520px) {
  .header_logo_right {
    display: none;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.8% 0% 1.8% 0%;
  }
  #heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0%;
  }
  #top ul, #top li, a, #footer_nav_wrapper ul, #footer_nav_wrapper li, #footer_nav_wrapper a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #top ul, #footer_nav_wrapper ul {
    margin-left: 0%;
    padding-left: 0%;
  }
  #footer_logo_wrapper {
    display: none;
  }
}
/*# sourceMappingURL=main_style.css.map */